*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: auto;
}

*{
    font-family: 'Fredoka One', cursive;
}

img{
    float: left;
    width: 100px;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.card1{
    float: left;
    width: 30%;
    background-color: black;
    color: white;
}

.card2{
    float: left;
    width: 30%;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.card3{
    float: right;
    width: 30%;
    background-color: black;
    color: white;
}

.etichetta{
    padding-top: 3%;
    padding-left: 30%;
}
