*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.container{
    width: 70%;
    margin: auto;
}

*{
    font-family: 'Fredoka One', cursive;
}

img{
    float: left;
    width: 100px;
}

.titolo{
    text-align: center;
}

h1{
    color: palevioletred;
    font-size: 300%;
    margin: 5% auto;
}

.testo{
    margin-bottom: 5%;
}

.card1{
    float: left;
    width: 30%;
    background-color: black;
    color: white;
}

.card2{
    float: left;
    width: 30%;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
}

.card3{
    float: right;
    width: 30%;
    background-color: black;
    color: white;
}

.etichetta{
    padding-top: 3%;
    padding-left: 30%;
}

.separatore{
    margin: 10% auto;
}

a{
    text-decoration: none;
}

.sez-oriz1{
    margin-bottom: 3%;
}