/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

/* dimensionamento main */
.container{
    width: 70%;
    margin: auto;
}

/* font */
*{
    font-family: 'Fredoka One', cursive;
}

/* titolo */
.titolo{
    text-align: center;
}

h1{
    color: palevioletred;
    font-size: 300%;
    margin: 5% auto;
}

/* spaziatura p */
.testo{
    margin-bottom: 5%;
}

/* cards */
.card1{
    float: left;
    width: 30%;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px 8px gray;
}

.card2{
    float: left;
    width: 30%;
    background-color: black;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 0px 10px 8px gray;
}

.card3{
    float: right;
    width: 30%;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 10px 8px gray;
}

/* img */
img{
    float: left;
    width: 100px;
}

/* testo cards */
.etichetta{
    padding-top: 3%;
    padding-left: 30%;
}

/* email */
a{
    text-decoration: none;
}

/* spaziatura orizz cards */
.sez-oriz1{
    margin-bottom: 3%;
}
